body{
    margin: 5px;
    padding: 0;
    background-color: white;
    cursor: url('cursor.png') 16 16, auto;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(243,246,251,255);
    padding: 10px 10px;
    height: 120px;
    border-radius:25px;
    top: 0px;
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 10px;
}
.nav-links li {
    flex: 1;
    text-align: center;
    margin: 33px 0 0 0;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-family: "Kanit", sans-serif;
    transition: color 0.4s linear; 
}

.nav-links li a:hover {
    color: rgb(104, 181, 252);
}
header{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 40px;
    transition: color 0.4s linear;
    text-align: center;
    margin-top: 20px
}
header:hover{
  color: rgb(104, 181, 252);
}
.mike{ 
    transition: transform 0.3s;
}
.mike:hover{
    filter: 
        drop-shadow(0 0 5px rgba(235, 235, 235, 0.5))  
        drop-shadow(0 5px 10px rgba(229, 249, 249, 0.5)) 
        drop-shadow(0 10px 15px rgba(222, 222, 222, 0.678));
    transform: scale(1.05);
    cursor: not-allowed;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    height: 50px;
    width: 500px;
    border: none;
    background: black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 25px;
  }
  
  .label {
    line-height: 20px;
    font-size: 17px;
    color: red;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #1b1b1c;
  }
  
  .button:hover .svg-icon {
    animation: scale 1s linear infinite;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.05) rotate(17deg);
    }
  
    100% {
      transform: scale(1);
    }
  }  
  .th{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 40px;
  }
  #outputText{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: auto;
    width: auto;
    margin-left: 40px;
  }

  #card {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  
  .mh{
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEE2E2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }
  
  .image svg {
    color: #DC2626;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #111827;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
    background-color: #F9FAFB;
  }
  
  #accept {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #20cf69;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  #cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #DC2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .menu {
    width: 300px;
    padding: 20px;
    background-color: #ffcc00;
    border: 1px solid #000;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: opacity 0.5s ease-out; 
    opacity: 1;
    display: block;
    margin-top: 260px;
}
.menu.fade-out {
    opacity: 0; 
    transition: opacity 0.5s ease-out; 
}
.menu.hidden {
    display: none;
}

 
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 100px 0 0 200px;
  cursor: pointer;
}

.ft {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  color: rgba(239, 248, 58, 0.975);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, rgb(172, 80, 214) 60%, rgb(255, 105, 217) 88%,
     rgb(195, 255, 223) 40%, rgba(236, 245, 67, 0.603) 48%);
  color: white;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(172, 80, 214) 60%, rgb(255, 105, 217) 88%,
    rgb(195, 255, 223) 40%, rgba(236, 245, 67, 0.603) 48%);
  color: white;
  transform: rotateY(180deg);
}



.meinfo {
  width: 500px;
  height: 254px;
  margin-top: -250px;
  margin-left: 450px;
  background-color: #011522;
  border-radius: 8px;
  display: absolute;
  z-index: 1;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 .infocontent{
  color: rgb(255, 255, 255);
 }
.infst{
  font-family: "Poppins", sans-serif;
  
 }
 .infst a{
  color: rgb(255, 255, 255);
  text-decoration: none;
 }




.proh {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 2.5em;
  margin: 50px 0 0 -120px;
  font-family: "Poppins", sans-serif;

}




.proscreen {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  width: 100%; 
  padding: 20px;
  margin-left: -140px;
}

.card {
  position: relative;
  width: 250px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 20px;
}

.card p{
  font-family: "Poppins", sans-serif;
}

.pa{
  text-decoration: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.45) scaleY(0.75);
}




.rating-card {
  width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #0f0c29;
  background: linear-gradient(to right bottom, #443e89, #0f0c29);
  padding: 20px 20px;
  border-radius: 10px;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
  margin: 10px 0 0 -100px;
}
.text-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.text-primary {
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.text-secondary {
  color: #cccccc;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.rating-stars-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.star-label svg {
  fill: rgb(210, 210, 210);
  width: 20px;
  height: auto;
}
.rating-stars-container input {
  appearance: unset;
}
.rating-stars-container input:hover ~ .star-label svg {
  fill: rgb(255, 204, 185);
}
.rating-stars-container input:checked ~ .star-label svg {
  fill: rgb(255, 102, 47);
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-fwd-center {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}



ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}


.social{
  margin: 30px 0 0 -150px;
}
